In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
Sample = pd.read_csv("C:/Users/1239658/Desktop/Data Science Training/winequality/winequality-white.csv",sep=';')

In [3]:
Sample.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
#Function for getting the Independent variables and Target Variable/ label from the DataFrame

def input_data(df,x):
    in_df = df.loc[:,df.columns != df.columns[x]].values
    out_df = df.loc[:,df.columns[x]].values
    out_df = np.reshape(out_df,(len(out_df),1))
    return in_df,out_df

In [5]:
Sample_x, qua = input_data(Sample,-1)

In [6]:
Sample_x = np.concatenate((Sample_x,np.square(Sample_x),np.power(Sample_x,3)),axis=1)

In [7]:
#Function to add new column of 1's to the independent variables array

def add_col(in_arr):
    out_arr = np.column_stack((np.ones((len(in_arr),1),dtype=int),in_arr))
    return out_arr

In [8]:
#Adding the new column of 1's to array

Sample_x = add_col(Sample_x)

In [9]:
Sample_x.shape

(4898, 34)

In [10]:
# Function to calculate β values (Intercept and Slope values)

def get_coef(in_df,out_df):
    in_df_T = in_df.transpose()
    x = in_df_T.dot(in_df)
    x_inv = np.linalg.inv(x)
    #y = np.reshape(out_df, (len(out_df),1))
    Y = in_df_T.dot(out_df)
    β = x_inv.dot(Y)
    return β

In [11]:
#Calculating the Intercept and Slopes using the function by passing the input variables array and Target variable matrix

b = get_coef(Sample_x, qua)

In [12]:
# Calculating the new Target variable values

def out_df(in_df, coef_df):
    y_new = in_df.dot(coef_df)
    return y_new

In [13]:
y_new = out_df(Sample_x,b)

In [14]:
y_new

array([[-3.43178022],
       [-3.56133911],
       [-3.33271306],
       ...,
       [-3.33813537],
       [-1.82520497],
       [-2.26068073]])

In [15]:
def std_error(in_df,out_df,out_new_df):
    Res_Error = out_df-out_new_df
    dist = (abs(Res_Error)/out_new_df)*100
    import math
    error = math.sqrt(sum(Res_Error**2)/(len(in_df)-2))
    return error

In [16]:
std_error(Sample_x,qua,y_new)

8.877100979830349