In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Wine_Samp = pd.read_table("C:/Users/1239658/Desktop/Data Science Training/winequality/winequality-red.csv", sep=';')

In [35]:
Wine_Samp.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [36]:
Wine_Samp.columns = Wine_Samp.columns.str.replace(' ','_')

In [37]:
Wine_Samp.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [38]:
Quality = Wine_Samp.quality.values

In [39]:
type(Quality)

numpy.ndarray

In [44]:
WineSamples_Param_1 = Wine_Samp[Wine_Samp.columns[:len(Wine_Samp.columns)-1]].values

In [45]:
type(WineSamples_Param_1)

numpy.ndarray

In [46]:
WineSamples_Param_1.shape # x shape

(1599, 11)

In [47]:
WineSamples_Param_1

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [48]:
WineSamples_Param = np.concatenate((np.ones((len(WineSamples_Param_1),1),dtype=int), WineSamples_Param_1), axis=1)

In [49]:
WineSamples_Param

array([[ 1.   ,  7.4  ,  0.7  , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 1.   ,  7.8  ,  0.88 , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 1.   ,  7.8  ,  0.76 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 1.   ,  6.3  ,  0.51 , ...,  3.42 ,  0.75 , 11.   ],
       [ 1.   ,  5.9  ,  0.645, ...,  3.57 ,  0.71 , 10.2  ],
       [ 1.   ,  6.   ,  0.31 , ...,  3.39 ,  0.66 , 11.   ]])

In [50]:
WineSamples_Param.shape

(1599, 12)

In [51]:
Quality = np.reshape(Quality,(len(Quality),1))

In [52]:
Quality.shape

(1599, 1)

In [53]:
WineSamples_Param_Trans = WineSamples_Param.transpose()

In [54]:
WineSamples_Param_Trans.shape

(12, 1599)

In [55]:
XT_X = WineSamples_Param_Trans.dot(WineSamples_Param)

In [56]:
XT_X_Inv = np.linalg.inv(XT_X)

In [57]:
XT_X_Inv.shape

(12, 12)

In [58]:
Y = WineSamples_Param_Trans.dot(Quality)

In [59]:
β = XT_X_Inv.dot(Y)

In [62]:
β.shape

(12, 1)

In [63]:
Y_New = WineSamples_Param.dot(β)