In [272]:
import pandas as pd
import numpy as np
import math

In [273]:
Sample = pd.read_csv("C:/Users/1239658/Desktop/Data Science Training/winequality/winequality-red.csv",sep=';')

In [274]:
Sample.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [275]:
def input_data(df,x):
    in_df = df.loc[:,df.columns != df.columns[x]].values
    out_df = df.loc[:,df.columns[x]].values
    out_df = np.reshape(out_df,(len(out_df),1))
    return in_df,out_df

In [276]:
Sample_x, Qua = input_data(Sample,-1)

In [277]:
Sample_x = np.column_stack((Sample_x,np.square(Sample_x)))

In [278]:
Sample_x.shape

(1599, 22)

In [279]:
#Function to add new column of 1's to the independent variables array

def add_col(in_arr):
    out_arr = np.column_stack((np.ones((len(in_arr),1),dtype=int),in_arr))
    return out_arr

In [280]:
Sample_x = add_col(Sample_x)

In [281]:
Sample_x.shape

(1599, 23)

In [282]:
Qua.shape

(1599, 1)

In [283]:
# Function to calculate β values (Intercept and Slope values)

def get_coef(in_df,out_df):
    in_df_T = in_df.transpose()
    x = in_df_T.dot(in_df)
    x_inv = np.linalg.inv(x)
    #y = np.reshape(out_df, (len(out_df),1))
    Y = in_df_T.dot(out_df)
    β = x_inv.dot(Y)
    return β

In [284]:
b = get_coef(Sample_x,Qua)

In [285]:
b.shape

(23, 1)

In [287]:
#Function to calculate new targer variables
def out_df(in_df, coef_df):
    y_new = in_df.dot(coef_df)
    return y_new

In [288]:
Qua_New = out_df(Sample_x,b)

In [289]:
Sample_x.shape

(1599, 23)

In [290]:
Qua_New

array([[5.03329527],
       [5.29681019],
       [5.33039376],
       ...,
       [5.97248226],
       [5.47002538],
       [5.92309287]])

In [293]:
#Function to calculate the Standard Error

def std_error(in_df,out_df,out_new_df):
    Res_Error = out_df-out_new_df
    dist = (abs(Res_Error)/out_new_df)*100
    import math
    error = math.sqrt(sum(Res_Error**2)/(len(in_df)-2))
    return error

In [292]:
std_error(Sample_x,Qua,Qua_New)

0.6325245416658998